# Python virtual environment
.venv/
venv/
ENV/
env/

# Database files (SQLite)
*.db
*.sqlite3
instance/

# Python bytecode and cache
__pycache__/
*.py[cod]
*$py.class
config.py
# Environment variables (for security)
.env

# OS-specific files
.DS_Store
Thumbs.db

#gunicon logs and control socket files.
*.ctl
*.log
